<div class="container">
  <div class="panel ">
    <ng-container *ngIf="data">
      <div>
        <label class="input-label">Title:</label>
        <input class="input" [(ngModel)]="data.title"/>
      </div>
      <div>
        <label class="input-label">Description:</label>
        <textarea class="input" [(ngModel)]="data.description"> </textarea>
      </div>
      <div>
        <label class="input-label">Date:</label>
        <app-datepicker [(value)]="data.creationDate"></app-datepicker>
      </div>
      <div>
        <label class="input-label">Duration:</label>
        <app-duration-input type="number" [(value)]="data.durationMin"></app-duration-input>
      </div>
    </ng-container>
    <div class="footer">
      <div class="button button--link">Cancel</div>
      <div class="button button--primary">Save</div>
    </div>
  </div>
</div>
