<div class="app-header">
    <div class="app-header-container container">
        <app-logo class="mr-auto"></app-logo>
        <ng-container *ngIf="isAuthenticated">
            <div *ngIf="isAuthenticated" class="button button--transparent" (click)="onUserInfo($event)"><span class="icon icon-user"></span>{{login}}</div>
            <div *ngIf="isAuthenticated" class="button button--transparent" (click)="onLogoff($event)"><span class="icon icon-exit"></span>Log off</div>
        </ng-container>
    </div>
</div>
<app-breadcrumbs *ngIf="isAuthenticated"></app-breadcrumbs>
