<div class="courses-page container">
    <app-filter-form></app-filter-form>
    <div class="courses-page-actions">
      <div class="button button--secondary" (click)="addCourse($event)"><fa-icon class="icon" [icon]="faPlus"></fa-icon>Add course</div>
    </div>
    <ul>
      <li *ngFor="let course of courses">
        <app-course-item [data]="course" (changed)="onCourseChange($event)" (deleted)="onCourseDelete($event)"></app-course-item>
      </li>
      <div class="panel courses-page-more-block">
        <a class="button button--link">LOAD MORE</a>
      </div>
    </ul>
</div>
