@import '../../../styles/variables';

.courses-item {
    margin-bottom: 24px;
    display: flex;

    &.top-rated {
      background-color: $light-sick-green;
    }

    &.active {
      border: 2px solid $sick-green;
    }

    &.planned {
      border: 2px solid $dark-sky-blue;
    }

    &-header {
      display: flex;
    }

    &-title {
        font-size: 24px;
        font-weight: 600;
        color: $dark;
        margin-bottom: 11px;
        display: flex;
        align-items: center;

        .icon {
          margin-left: 10px;
        }
    }

    &-additional-info {
      display: flex;
      align-items: center;
      color: $cloudy-blue;
      font-size: $font-size-small;
      align-items: center;

      &-item {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 8px;
        }

        &:not(:last-of-type) {
          margin-right: 16px;
        }
      }
    }

    &-description {
        line-height: 1.71;
        color: $dark;
        max-height: 75px;
        overflow: hidden;
    }

    &-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 28px;

        .button:not(:last-of-type) {
            margin-right: 12px;
        }
    }
}
