@import '../../../styles/variables'; 

.courses-filter-form {
    display: flex;
    margin-bottom: 24px;
}

.input-search {
  padding: 12px 12px 12px 42px;
  background: url('/assets/icons/ic-search.svg') $white no-repeat 12px 12px;
}
