.icon {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;

    &-search {
        background-image: url('/assets/icons/ic-search.svg');
    }
    &-exit {
        background-image: url('/assets/icons/ic-exit.svg');
    }
    &-user {
        background-image: url('/assets/icons/ic-user.svg');
    }
}
