$pale-gray-color: #f2f3f7;
$charcoal-grey-color: #414452;
$sick-green: #9bc837;
$dark-sky-blue: #30b6dd;
$soft-blue: #577ce6;
$dark: #2c2f4c;

$slate-grey: #525462;

$font-size-small: 12px;
$font-size: 14px;
$font-size-large: 18px;
$font-size-extra-large: 24px;
