<div class="courses-item panel">
    <div class="courses-item-info col-md-9">
        <div class="courses-item-title">
            Video Course 1. Name
        </div>
        <div class="courses-item-description">
            Learn about where you can find course descriptions, what information they include, how they work, and details about various components of a course description. Course descriptions report information about a university or college's classes. They're published both in course catalogs that outline degree requirements and in course schedules that contain descriptions for all courses offered during a particular semester.
        </div>
    </div>
    <div class="courses-item-actions col-md-3"> 
        <div class="button button-small button-secondary">Edit</div>
        <div class="button button-small button-secondary">Delete</div>
    </div>
</div>