<div class="courses-item panel" [appHighlightStatus]="data?.creationDate" [ngClass]="{'top-rated': data?.topRated}">
    <div class="courses-item-info col-md-9">
        <div class="courses-item-header">
            <div data-test-id="CourseTitle" class="courses-item-title mr-auto">
                <span>{{data?.title | uppercase}}</span>
                <fa-icon *ngIf=data?.topRated class="icon" [icon]="faStar"></fa-icon>
            </div>
            <div class="courses-item-additional-info">
                <div class="courses-item-additional-info-item">
                    <fa-icon class="icon" [icon]="faClock"></fa-icon>
                    {{data?.durationMin | duration}}
                </div>
                <div class="courses-item-additional-info-item">
                    <fa-icon class="icon" [icon]="faCalendarAlt"></fa-icon>
                    {{data?.creationDate }}
                </div>
            </div>
        </div>
        <div data-test-id="CourseDescription" class="courses-item-description">
            {{data?.description}}
        </div>
    </div>
    <div class="courses-item-actions col-md-3">
        <div data-test-id="EditCourse" class="button button--small button--secondary" (click)="onEdit()">
            <fa-icon class="icon" [icon]="faPencilAlt"></fa-icon>
            Edit
        </div>
        <div data-test-id="DeleteCourse" class="button button--small button--secondary" (click)="onDelete()">
            <fa-icon class="icon" [icon]="faTrash"></fa-icon>
            Delete
        </div>
    </div>
</div>
