@import '../../../../styles/variables';

.footer {
  background: $charcoal-grey-color;

  &-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: $silver;
    height: 64px;
  }
}
