.input {
    width: 360px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    padding: 12px 12px 12px 42px;
    background: url('/assets/icons/ic-search.svg') #fff no-repeat 12px 12px;

    &::placeholder {
        color: #c0c3ce;
        letter-spacing: 0.22px;
    }
}