<div class="courses-page container">
    <div class="courses-filter-form">
      <input class="input input-search" type="text" placeholder="Text to search" [(ngModel)]="filterInput" (keyup)="onSearch()">
    </div>
    <div class="courses-page-actions">
      <div data-test-id="AddCourse" class="button button--secondary" (click)="addCourse()"><fa-icon class="icon" [icon] ="faPlus"></fa-icon>Add course</div>
    </div>
    <ng-container *ngIf="(courses$ | async) as courses">
      <ul *ngIf="courses.length; else noCourses">
        <li *ngFor="let course of courses">
          <app-course-item [data]="course" (changed)="onCourseChange($event)" (deleted)="onCourseDelete($event)"></ app-course-item>
        </li>
        <div class="panel courses-page-more-block" (click)="onLoadMore()">
          <span class="button button--link">{{'Load more' | uppercase }}</span>
        </div>
      </ul>
      <ng-template #noCourses>
        <div class="panel courses-page-more-block">
          <span class="button button--link">{{'No data. Feel free to add new course' | uppercase }}</span>
        </div>
      </ng-template>
    </ng-container>
</div>
