@import '../../../../styles/variables';

.courses-page {
    padding: 24px 15px;

    .courses-filter-form {
        display: flex;
        margin-bottom: 24px;
    }

    .input-search {
      padding: 12px 12px 12px 42px;
      background: url('/assets/icons/ic-search.svg') $white no-repeat 12px 12px;
    }

    &-actions {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 12px;
    }

    &-more-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      font-size: $font-size-small;
    }
}
