$pale-gray-color: #d9dbe3;
$pale-gray-two-color: #f2f3f7;
$silver: #c0c3ce;
$cloudy-blue: #b9bdce;
$charcoal-grey-color: #414452;
$light-sick-green: #f4ffec;
$sick-green: #9bc837;
$sick-green-darker: #86a532;
$dark-sky-blue: #30b6dd;
$dark-sky-blue-darker: #10616d;
$soft-blue: #577ce6;
$dark: #2c2f4c;

$white: #fff;

$slate-grey: #525462;

$font-size-small: 12px;
$font-size: 14px;
$font-size-large: 18px;
$font-size-extra-large: 24px;
